body{
   background-image: url("https://www.shutterstock.com/image-photo/indian-farmer-using-mobile-phone-260nw-1313537252.jpg");
   background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}