body{
    background-image: url("https://cdn.dnaindia.com/sites/default/files/styles/full/public/2020/09/28/927930-pexels-archie-binamira-708798.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}