body{
    background-image: url("https://i.pinimg.com/600x315/ba/44/61/ba4461cd9b8b1d46dad3355329c8cfe1.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}