<body>
    <marquee><i><h2 style="color: greenyellow;">Welcome to Admin Page</h2></i></marquee>
<button (click)="getAllFarmers()" class="bg-success">Farmers</button> &nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; 
<button (click)="getAllLabours()" class="bg-success">Labours</button>
&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; 
<button (click)="getAllMachines()" class="bg-success">Machines</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

