<!-- <br>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AgriMarket</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="farlogin">Farmer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="darlog">Dealer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="machlog">Machinary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="laburlog">Labour</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> 
  <a routerLink="farlogin">Farmer</a> &nbsp; &nbsp; <a routerLink="darlog">Labour</a>  -->
  <div class="container-fluid" style="background-color: rgb(163, 244, 25);font-size: medium;font-family: 'Times New Roman', Times, serif;">
    <br>
    <div class="col-xs-2">
      <a routerLink="farlogin">Farmer</a>
    </div>
    <div class="col-xs-2">
      <a routerLink="darlog">Dealer</a>
    </div>
    <div class="col-xs-2">
      <a routerLink="machlog">Machines</a>
    </div>
    <div class="col-xs-2">
      <a routerLink="laburlog"> Labour</a>
    </div>
    <div class="col-xs-2">
      <a routerLink="admin">Admin</a><br>
    </div>
    <div class="col-xs-2">
      <a routerLink="loginComp">Login</a><br>
    </div>
    <div>

    </div>
    
  </div>
